/* Filter-list */

.feature-filter {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 7px rgba(2, 34, 60, 0.08);
}

.filter-list{
	font-size: 13px;
	padding: 14px;

	color: rgba(0, 0, 0, 0.82);
}
