/* Filter-list */

.filter-wrapper {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 7px rgba(2, 34, 60, 0.08);
}

.feature-filter {

}

.filter-wrapper .btn.toggle-filter {
	margin: 0;

}

.hide-filter {
	background-color: transparent !important;
	background: transparent;
	color: #404040 !important;
	border: none !important;
	box-shadow: none!important;
	text-decoration: underline!important;
	cursor: pointer;
}

.hide-filter:hover {
	color: #000 !important;
}

.filter-controls {
	margin-left: auto;
	margin-right: auto;
	width: 145px; // TODO: make relevant value here
}

.filter-controls button {
	display: inline-block;
	margin-left: 10px;
}

.filter-list{
	font-size: 13px;
	padding: 14px;

	color: rgba(0, 0, 0, 0.82);
}
