/* Author-logo */
.leaflet-container .leaflet-bottom .author-logo,
.leaflet-touch .leaflet-bottom .author-logo{
    margin-bottom: 6px;
    margin-right: 6px;
}

.nextgis-logo {
	background: url('../images/nextgis.png')
}

.wwf-logo {
	position: absolute;
	background: url('../images/WWF-logo.png') no-repeat;
	left: 200px;
	margin-bottom: 20px;
	bottom: 0;
}

