//Leaflet
.leaflet-container,
.leaflet-touch{
	.leaflet-control-container{
		font-family: $font-family-sans-serif;
	}

	.leaflet-verticalcenter {
	    position: absolute;
	    top: 47%;
	    -webkit-transform: translateY(-50.5%);
	            transform: translateY(-50.5%);
	    z-index: 1000;
	}

	.leaflet-verticalcenter .leaflet-control {
	    margin-bottom: 10px;
	    margin-top: 10px;
	}

	.leaflet-top{
		top: 10px;
	}

	.leaflet-top .leaflet-control{
	    margin-top:10px;
	}


	.leaflet-left{
		left: 10px;
	}

	.leaflet-left .leaflet-control{
	    margin-left: 10px;
	}

	.leaflet-bottom{
		bottom: 15px;
	}

	.leaflet-bottom .leaflet-control{
	    margin-bottom: 10px;
	}

	.leaflet-right{
		right: 10px;
	}

	.leaflet-right .leaflet-control{
	    margin-right: 10px;
	}

	.leaflet-right .leaflet-control-attribution{
	    margin-right: -10px;
	}
	.leaflet-bottom .leaflet-control-attribution{
	    margin-bottom: -15px;
	}

	.leaflet-upperbottom {
	    position: absolute;
	    bottom: 30px;
	}


	.leaflet-bar{
		border:0;
	    box-shadow: 0 3px 7px rgba(2, 34, 60, 0.08);
	}

	.leaflet-bar a{
	    border-bottom: 1px solid rgba(0, 112, 197, 0.12);
	    font-weight: normal;

	    &:last-child{
	    	border-bottom: 0;
	    }

	    &:hover{
	    	background-color: #fcfcfd;
	    }
	}

	.leaflet-bar a, .leaflet-bar a:hover{
	    color: $brand-primary;    
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	}

	.leaflet-bar a:first-child {
	    border-top-left-radius: 2px;
	    border-top-right-radius: 2px;
	}

	.leaflet-bar a:last-child {
	    border-bottom-left-radius: 2px;
	    border-bottom-right-radius: 2px;
	}

	.leaflet-bar a svg{
	    height: 30px;
	}

	.leaflet-iconLayers-layer{
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
	}

	.leaflet-control-mouseposition{
	    width: 125px;
	    text-align: center;
	    box-shadow: none;
	    font-size: 11px;
	    background-color: transparent;
	}

	.leaflet-control-scale{
	    width: 90px;
	    background-color: transparent;
	}
	.leaflet-control-scale-line{
	    margin-left: auto;
	    margin-right: auto;
	    background-color: transparent;
	}
	.leaflet-control-attribution{
	    background-color: transparent;
	}
}