@import "_variables";

// Icons
@import "../blocks/icons/icons";

// //Material design components
// @import "material-design-lite/src/checkbox/_checkbox";

*{
  box-sizing: border-box;
}

html{
  font-size: 14px;
  height: 100%;
}

body{
  overflow: hidden;
  height: 100%;
  font-family: $font-family-sans-serif;
  color: $text-color;
}

// elements

@import "./elements/btn";

// Components
@import "../blocks/leaflet/leaflet";
@import "../blocks/info-panel/info-panel";
@import "../blocks/author-logo/author-logo";
@import "../blocks/legend/legend";

a,
.leaflet-container a{
  color:$brand-primary;

  &:hover,
  &:focus,
  &:active{
    outline:0;
  }

  &:hover{
    color: #2196f3;
    text-decoration: none;
    border-color: transparent;
  }
}
